* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  font-family: sans-serif;
    background-image: url("../media/ChatGPT\ Image\ 28\ may\ 2026\,\ 16_13_38.png");
}

.container {
  background-color: #252323;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
  max-width: 360px;
}

.container input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 12px;
  border: 2px solid #ffd900;
  border-radius: 14px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.15s;
}
.container input:hover{
    background-color: #ecd500;
}

.container input:focus {
  border-color: #000000;
}

.container button {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid #ffd000;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: opacity 0.15s, color 0.15s;
}
